.jjong_logo {
    font-family: 'Silkscreen', cursive;
}

.jjong_footer_bottom{
    font-size: .9rem;
}


@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black;

}

a:hover {
    color: black;
    text-decoration: none;
}